body{
    background-color: rgb(134, 133, 133);
}
header {
    background-color: rgb(70, 67, 67);
    color:white;
    position: relative;
}
/*NAVBAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: rgb(7, 177, 21);
  }
section{
    position:absolute;
    right: 41%;
    left: 1.25%;
    top: 20%;
    padding: 5px 10px 500px 25px;
}
aside{
    position:fixed;
    left: 60%;
    right: 1.25%;
    top: 20%;
    padding: 20px 10px 50px 25px;
}
section, aside{
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #6b6b6b;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 2%;
}
button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 30px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(7, 177, 21);
}
